@import "tailwindcss";

:root {
  /* Definisikan warna di sini agar IDE memunculkan palet warna */
  --color-primary: #f34e4e;
  --color-primary-dark: #882c2c;
  --color-secondary: #ffffff;
  --color-secondary-dark: #ffffff9f;
  --color-background: #171717;
  --color-background-lighter: #252424;
  --color-my-border: #585858;

  background-color: var(--color-background);
  color: #ffffff;
}

@theme {
  /* Mapping warna dari :root agar Tailwind tetap bisa membuat utility class-nya */
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-secondary: var(--color-secondary);
  --color-secondary-dark: var(--color-secondary-dark);
  --color-background: var(--color-background);
  --color-background-lighter: var(--color-background-lighter);
  --color-my-border: var(--color-my-border);
  --font-sans: "Poppins", sans-serif;
}

body {
  margin: 0;
}

#root {
  width: 100%;
}
